@charset "UTF-8";

*{
    padding: 0px;
    margin:0px;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --cor01:#0D0D0D;
    --cor02:#592316;
    --cor03:#8C5230;
    --cor04:#BF834E;
    --cor05:#F2E9E4;
}

@media  screen and (min-width: 768px) and (max-width: 960px) {

    body{
        background-image: linear-gradient( to top, #8C5230, #592316);
    }

    section#login{
        width: 85vw;
        height: 330px;

    }

section#login > div#imagem{
    float: left;
    width: 35%;
    height: 100%;
    background-position: bottom center;
    background-size: cover;
}

div#formulario{
    float: right;
    width: 65%;
    
}
p,h1{
    padding: 10px;
}

p{
    font-size: 1.2em;
  }
}


@media screen and (min-width:992px) {

    body{
        background-image: linear-gradient( to top, #0D0D0D, #592316);
    }

  section#login{
    width: 85vw;
    height: 330px;
  }  

  section#login > div#imagem{
    float: left;
    width: 50%;
    height: 100%;
  }

  div#formulario{
     float: right;
     width: 50%;
  }

  p,h1{
    padding: 10px;
  }

  p{
    font-size: 1.2em;
  }
  div.campo > input{
    font-size: 1em;
  }
}
